In [1]:
import pandas as pd
import numpy as np

In [4]:
data = pd.read_csv('customer-recipes.csv')
data.head(10)

,Customer Code,First Name,Last Name,Job Title,Recipe,Recipe Score,Email,Location,Location.1,Unnamed: 9,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,JL7321,Timothy,George,Lead UX/UI Designer,Snozzberry Surprise,10,timsfilez@gmail.com,California,California,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,JL9123,Elliot,King,Data Scientist,Leftover Burrito,4,elliotking@gmail.com,New York,New York,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,JL8152,Noel,Hall,UX Researcher,Eggs in a Nest,7,noelhall@gmail.com,Texas,Texas,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,JL8315,Robert,Wright,Data Scientist,Loaded Tater Tots,9,robertwright@gmail.com,Washington,Washington,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,JL0917,Zachary,Sailer,Lead Software Engineer,Cinnamon Rolls,1000,zachsailer@gmail.com,California,California,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,JL8753,Addison,Lee,Senior Data Scientist,Green Onion Pancakes,8,addisonlee@gmail.com,New York,New York,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,JL1032,Jay,Ahn,Software Engineer Intern,Cabbage Egg Rice Bowl,10,aju960219@gmail.com,California,California,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,JL5362,Cameron,Toy,Software Engineer Intern,Pad Krapow,10,cameron.toy.00@gmail.com,California,California,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,JL7163,Ai-Vy,Dang,UX/UI Design Intern,Avocado Toast,10,aivydang@gmail.com,California,California,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,JL3124,Logan,McNichols,Software Engineer Intern,Sweet Potatoe Bytes,10,loganamcnichols@gmail.com,California,California,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN